<md-dialog aria-label="Edit FAQ"  flex-xs="90" flex-gt-xs="60" >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit FAQ</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Question">
          <md-content class="md-padding">
                <md-input-container class="md-block">
                              <label>FAQ Key</label>
                              <input required   name="faqKey" ng-model="faq.faqKey"/>

                              <div ng-messages="faqForm.faqKey.$error" >
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 64 characters long.</div>
                              </div>
                            </md-input-container>



                            <md-input-container class="md-block">
                              <label>Question</label>
                              <textarea rows="2" md-maxlength="128" required md-no-asterisk name="faqName" ng-model="faq.faqName"></textarea>
                              <div ng-messages="faqForm.faqName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 128 characters long.</div>
                              </div>

                            
                            </md-input-container>         

                           
          </md-content>
        </md-tab>
        <md-tab label="Answer">
          <md-content class="md-padding">
             <form class="form-horizontal">

                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Operator (op):</label>
                  <div class="col-sm-10">
                    <select id="jsonOp" class="form-control"   onchange="opOnChange()">
                              <option value="">-- Select an Op --</option>
                              <option value="goto">Goto</option>
                              <option value="gosub">Gosub</option>
                              <option value="rtn">Return</option>
                              <option value="disp">Dispatch</option>
                              <option value="end">End</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Operand (opd):</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Answer:</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="comment"></textarea> 
                  </div>
                </div>                
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Javascript Function (fn):</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="comment"></textarea> 
                  </div>
                </div>       
              </form>
          </md-content>
        </md-tab>
        
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
       
      <md-button ng-click="submit(faq)">
         Submit
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
