<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            hide-gt-md
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2>FAQ Editor</h2>

        <span flex></span>
    </div>
</md-toolbar>


  <md-content flex   layout="column"  ng-controller="FaqCtrl as ctrl">

 
 
 
      <md-card>
       
        <md-toolbar class="md-table-toolbar md-default" ng-hide="!ctrl.searchMode">
          
          <div layout="row" layout-align="center start" class="md-toolbar-tools">
            
            <md-input-container  md-no-float style="min-width:80%" >
              <md-icon>search</md-icon>
              <input placeholder="search" ng-model="ctrl.searchtext"  ng-change="ctrl.search()">
              <md-icon  md-font-icon="fa fa-send" ng-click="ctrl.search()"></md-icon>
            </md-input-container>
            
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.searchMode = false">
              <md-icon>close</md-icon>
            </md-button>
          </div>
           
          <md-progress-linear md-mode="indeterminate" ng-if="ctrl.searching"></md-progress-linear>
        </md-toolbar>
         
            
        <md-toolbar class="md-table-toolbar md-default" ng-hide="!ctrl.editMode">
          
          <div layout="row"  layout-align="center start" class="md-toolbar-tools" layout-wrap>
           
                      <md-button  class="md-raised"  ng-disabled="selected.length == 0"  ng-click="ctrl.cut()">
                        <md-icon  md-font-icon="fa fa-cut"></md-icon>
                        Cut
                      </md-button>

                      <md-button  class="md-raised"   ng-disabled="selected.length == 0" ng-click="ctrl.copy()">
                        <md-icon  md-font-icon="fa fa-copy"></md-icon>
                        Copy
                      </md-button>

                      <md-button  class="md-raised"   ng-disabled="!ctrl.pasteSource" ng-click="ctrl.paste(ev)">
                        <md-icon  md-font-icon="fa fa-paste"></md-icon>
                        Paste
                      </md-button>

                      <md-button  class="md-raised"   ng-disabled="selected.length == 0" ng-click="ctrl.remove()">
                        <md-icon  md-font-icon="fa fa-remove"></md-icon>
                        Delete
                      </md-button>

                          
            
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.toggleEdit(false)">
              <md-icon>close</md-icon>
            </md-button>
          </div>
          <div layout="row" >
          <div style='margin-left : 20px'> Selected : {{selected.length}} </div>
          </div>
        </md-toolbar>   
      
 
  
        <md-toolbar hide-gt-xs ng-hide="ctrl.searchMode || ctrl.editMode">

  
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
         <md-button class="md-fab md-mini md-primary" ng-click="ctrl.goback()" aria-label="go back">
           <md-icon  md-font-icon="fa fa-level-up"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="Add Category" ng-click="ctrl.addCatDialog($event)">
           <md-icon md-font-set="md" class="md-fab" ng-style="{  'font-size':  '24px' }">create_new_folder</md-icon>
        </md-button>
     
        <md-button class="md-fab md-mini md-primary" aria-label="Add FAQ" ng-click="ctrl.addFaqDialog($event)">
           <md-icon  md-font-icon="fa fa-plus-square"></md-icon>
        </md-button>


        <md-button class="md-fab md-mini md-primary" ng-disabled="true" aria-label="cut">
           <md-icon  md-font-icon="fa fa-copy"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="cut">
           <md-icon  md-font-icon="fa fa-cut"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="Paste">
           <md-icon  md-font-icon="fa fa-paste"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="Paste">
           <md-icon  md-font-icon="fa fa-remove"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="Paste">
           <md-icon  md-font-icon="fa fa-upload"></md-icon>
        </md-button>
       
        <md-button class="md-fab md-mini md-primary" aria-label="Paste">
           <md-icon  md-font-icon="fa fa-download"></md-icon>
        </md-button>
       
        <md-button class="md-fab md-mini md-primary" ng-click="ctrl.searchMode = true ; ctrl.searchtext = ''" aria-label="Paste">
           <md-icon  md-font-icon="fa fa-search"></md-icon>
        </md-button>
       
    </section>
   
        </md-toolbar>
        <md-toolbar hide-xs  ng-hide="ctrl.searchMode || ctrl.editMode">

           <section layout="row"   layout-align="center center" style="max-height:80px">
            <md-button aria-label="Go Back" ng-click="ctrl.goback()">
              Go Back
            </md-button>
            
 
              <md-button class="md-raised"   aria-label="Add Category"  ng-click="ctrl.addCatDialog($event)">
                    Add Category
                </md-button>

              <md-button class="md-raised" aria-label="Add Category" ng-click="ctrl.addFaqDialog($event)">
                    Add FAQ
                </md-button>
 
               <md-button class="md-raised" aria-label="Edit" ng-click="ctrl.toggleEdit(true)">
                    Edit
                </md-button>

          
               <div flex></div>
               <md-button class="md-raised md-small md-warn" ng-click="ctrl.searchMode = true;ctrl.searchtext = ''" aria-label="Search"><md-icon  md-font-icon="fa fa-search"></md-icon>
                    Search
                </md-button>

              <md-button class="md-raised md-small md-warn" aria-label="Import"><md-icon  md-font-icon="fa fa-upload"></md-icon>
                    Import
                </md-button>

              <md-button class="md-raised md-small md-warn" aria-label="Export"><md-icon  md-font-icon="fa fa-download"></md-icon>
                    Export
                </md-button>

          
           </section>

          </md-toolbar>

        <md-content flex layout-padding>
       

                 <ol class="breadcrumb">
                                          <li ng-repeat="bc in breadcrumb">
                                               <a ng-if="bc.id != null" class='md-body-1' href="" ng-click="ctrl.selectNode(true,bc)">{{bc.name}}</a>
                                               <div class='md-body-1'   ng-if="bc.id == null">{{bc.name}}</div>
                                          </li>
                </ol> 
         
        
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="type"><span>Type</span></th>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-date md-order-by="updated" md-desc><span>Date Modified</span></th>
				
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="row" md-select-id='id' md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="row in items.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>
                 <!-- <md-icon
                md-svg-icon="images/icons/ic_insert_drive_file.svg"
                aria-label="Menu Icon">
                   <span  class="glyphicon glyphicon-{{row.type == 'c' ? 'folder-open' : 'file'}}" style='color:rgb(2,136,209);'></span>
                   -->
                   <i ng-if="row.type == 'f'" class="material-icons"  style='color:rgb(2,136,209);'>insert_drive_file</i>
                   <i ng-if="row.type == 'c'" class="material-icons"  style='color:rgb(2,136,209);'>folder_open</i>
                </td>
                <td md-cell><a href='' class='cc-link' ng-if="row.type == 'c'" ng-click='ctrl.drilldown(row)'>{{row.name}}</a>
                            <div ng-if="row.type =='f'">{{row.name}}</div> 
                </td>
                <td md-cell>{{row.updated}}</td>
                <td md-cell>
                    <a href="" ng-click="ctrl.openFaqDialog($event, row)">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                </td>
                
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{items.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>

        </md-content>
        {{selected}}
      </md-card>
 
  </md-content>
