<md-dialog aria-label="Edit FAQ"  flex-xs="90" flex-gt-xs="60" >
  <form name="faqDialogCtrl.faqForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit FAQ</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Question">
          <md-content class="md-padding">
                <md-input-container class="md-block">
                              <label>FAQ Key</label>
                              <input required   name="faqKey" ng-model="faq.faqKey"/>

                              <div ng-messages="faqDialogCtrl.faqForm.faqKey.$error" >
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 64 characters long.</div>
                              </div>
                            </md-input-container>



                            <md-input-container class="md-block">
                              <label>Question</label>
                              <textarea required rows="2" md-maxlength="128" required md-no-asterisk name="faqName" ng-model="faq.faqName"></textarea>
                              <div ng-messages="faqDialogCtrl.faqForm.faqName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 128 characters long.</div>
                              </div>

                            
                            </md-input-container>         

                           
          </md-content>
        </md-tab>
        <md-tab label="Answer">
          <md-content class="md-padding " >
               

             
               <div layout="column" class="">
                  <div layout="row">{{jsonResult()}}</div>
                  <div layout="row">
                    <label flex="20">Operator (op):</label>
                   
                    <select  flex  ng-model="nlpResponse.op">
                              <option value="">-- Select an Op --</option>
                              <option value="goto">Goto</option>
                              <option value="gosub">Gosub</option>
                              <option value="rtn">Return</option>
                              <option value="disp">Dispatch</option>
                              <option value="end">End</option>
                    </select>
                  
                </div>
                
                <div  layout="row" >
                  <label flex="20"  >Operand (opd):</label>
                  <div flex ng-if="nlpResponse.operator != 'goto' && nlpResponse.operator!='gosub'">N/A</div>
                  <textarea ng-if="nlpResponse.operator == 'goto' || nlpResponse.operator=='gosub'" flex name="" rows="5" ng-model="nlpResponse.opd" ></textarea>
                   
                </div>

                <div   layout="row">
                  <label flex="20" >Answer:</label>
                   
                  <textarea flex rows="5" ng-model="nlpResponse.answer"></textarea> 
                  
                </div>           

                <div   layout="row">
                  <label flex="20">Javascript Function (fn):</label>
                   
                    <textarea flex rows="5" ng-model="nlpResponse.fn"></textarea> 
                 
                </div>
  
               </div>
              
                  
             
          </md-content>
        </md-tab>
        
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
       
      <md-button ng-disabled="!faqDialogCtrl.faqForm.$valid" ng-click="submit(faq,nlpResponse)">
         Submit
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
